{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["react"],
  "rules": {
    "arrow-parens": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-tabs": "off",
    "tabWidth": 4,
    "no-console": "off",
    "indent": ["off"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true, "avoidEscape": true }],
    "linebreak-style": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "no-underscore-dangle": 0,
    "arrow-body-style": "off",
    "max-len": [
      "error",
      { "code": 200, "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true, "ignoreUrls": true }
    ],
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-param-reassign": ["error", { "props": false }],
    "no-continue": "off",
    "no-script-url": "off",
    "no-nested-ternary": "off",
    "no-restricted-syntax": ["error", "ForOfStatement", "LabeledStatement", "WithStatement"],
    "no-restricted-globals": "off",
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true, "allowShortCircuit": true }],
    "prefer-promise-reject-errors": "off",
    "import/prefer-default-export": "off",
    "import/no-webpack-loader-syntax": "off",
    "import/no-duplicates": "off",
    "import/no-unresolved": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-indent": ["off"],
    "react/jsx-indent-props": ["off"],
    "react/forbid-prop-types": ["error", { "forbid": ["any"] }],
    "react/react-in-jsx-scope": "off",
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/jsx-closing-tag-location": "off",
    "react/destructuring-assignment": "off",
    // "react/no-array-index-key": 2,
    "react/no-array-index-key": "off",
    "react/no-access-state-in-setstate": "off",
    "react/no-this-in-sfc": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/prop-types": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react/jsx-wrap-multilines": "off",
    "jsx-a11y/anchor-is-valid": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "no-debugger": "off",
    "react/no-unused-prop-types": "off",
    "no-unused-vars": "off",
    "array-callback-return": "off",
    "jsx-quotes": "off",
    "no-multi-spaces": "off",
    "react/jsx-props-no-multi-spaces": "off",
    "no-trailing-spaces": "off",
    "import/extensions": "off",
    "newline-per-chained-call": "off",
    "eqeqeq": "off",
    "padded-blocks": "off",
    "spaced-comment": "off",
    "no-use-before-define": "off",
    "prefer-const": "off",
    "semi": "off",
    "react/self-closing-comp": "off",
    "no-empty": "off",
    "guard-for-in": "off"
  }
}
